/*form {*/
/*    margin: 10px;*/
/*    padding: 20px;*/
/*    color: white;*/
/*}*/

/*body {*/
/*    background-image: url("../img/cover-img.jpeg");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-attachment: fixed;*/
/*}*/

/*h1 {*/
/*    font-size: 56px;*/
/*    color: white;*/
/*    text-align:center;*/
/*    margin-top: 30px;*/
/*    margin-bottom: -10px;*/
/*}*/

/*h1:hover {*/
/*    color: rgb(230, 245, 255);*/
/*    cursor: pointer;*/
/*}*/

/*.container {*/
/*    max-width: 780px;*/
/*    border-radius: 20px;*/
/*    border: solid 4px grey;*/
/*    background-color: rgb(89, 89, 89, 0.5);*/

/*}*/

/*p {*/
/*    text-align: center;*/
/*    padding-top: 20px;*/
/*    font-size: 40px;*/
/*    color: white;*/
/*    margin-left: -30px;*/
/*}*/

/*h4 {*/
/*    text-align: center;*/
/*    color: white;*/
/*    margin-top: 15px;*/
/*}*/


/*a {*/
/*    color: white;*/
/*}*/

/*a:hover {*/
/*    color: rgb(230, 245, 255);*/
/*    cursor: pointer;*/
/*}*/

