* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    position: relative;
}

.header {
    height: 100vh;
}

.logo {
    height: 48px;
    padding: 2px 10px;
}

.icon-bar {
    background: darkorange;
}

.big-text {
    font-size: 52px;
    margin: 20px 0;
    color: darkorange;
}

.banner-info, .banner-image {
    margin: 30px 0;
}

input[type="search"] {
    min-width: 400px !important;
}

.btn-warning  {
    background-color: #ff8c00 !important;
    border-color: #ff8c00 !important;
    color: white !important;
}


footer {
    margin-top: 15px;
    font-size: 20px;
    width: 100%;
    position: absolute;
}

.site-footer {
    color: #26272b;
    padding: 20px 0 20px;
    font-size: 15px;
    line-height: 24px;
}

.cursor-pointer {
    cursor: pointer;
}

